*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Delimitação do corpo principal do jogo*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #0A3316;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
/*Estilização do conteiner principal do jogo*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-bottom: 40px;
    color: #fff;
}

/*Estrutura geral da exibição dos nomes dos jogadores, pontuação e simbolos abaixo*/
.game-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.score-board{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.player-box{
    display: flex;
    font-size: 15px;
    flex-direction: column;
    gap: 5px;
}

.player-label{
    display: flex;
    align-items: center;
    gap: 0px
}

.player-symbol{
    width: 70px;
    height: 70to;
    align-items: center;
    display: block;
}

.player1{
    color: #fff;
    text-align: left;
}

.player2{
    color: #fff;
    text-align: right;
}

.score{
    font-weight: bold;
    font-size: 1.2rem;
}

.status, .vencedor{
    margin: 0;
    text-align: center;
    margin-bottom: 0px;
    height: 12px;
}

.vencedor, .status{
    display: none;
    color: #fff;
}




/* Desenho das linhas horizontais e verticais do tabuleiro */
#board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0px;
    margin: 20px 0; 
    
    background-image: 
        linear-gradient(to right,transparent 0, transparent 99px, white 99px, white 101px, transparent 101px), 
        linear-gradient(to right, transparent 0, transparent 199px, white 199px, white 201px, transparent 201px),
        linear-gradient(to bottom, transparent 0, transparent 99px, white 99px, white 101px, transparent 101px),
        linear-gradient(to bottom, transparent 0, transparent 199px, white 199px, white 201px, transparent 201px);
}

/*Estilização das celúlas do tabuleiro.*/
.cell {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilização geral para os botões*/
.control-bnt{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    flex-wrap: wrap;

}
/*Estilização específica sobre os botões*/
.control-bnt button{
    padding: 10px 20px;
    min-width: 150px;
    margin-bottom: 0%;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: transform 0.1s;

}

/*Estrutura de interação com o botão*/
.control-bnt button:active {
    transform: scale(0.95);
}

/*Estruturas de combinação reservada para exibição de uma linha vermelha que indica qual combinação foi vencedora*/
.win{
    position: absolute;
    height: 5px;
    width: 300px;
    background-color: red;
    top: 50%;
    left:0;
    transform: center;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    pointer-events: none;

}

/*Combinação nas fileiras*/
.win-row-0{ top: 50px; transform: scaleX(1);}
.win-row-1{top: 150px; transform: scaleX(1);}
.win-row-2{top: 250px; transform: scaleX(1);}

/*Combinação nas colunas*/
.win-col-0{transform: rotate(90deg) scaleX(1); left: -100;}
.win-col-1{transform: rotate(90deg) scaleX(1); left: 0;}
.win-col-2{transform: rotate(90deg) scaleX(1); left: 100;
}

/*Combinação nas diagonais*/
.win.diag-1{transform: rotate(45deg) scaleX(1); top: 150px;}
.win.diag-2{transform: rotate(-45deg) scaleX(1); top: 150px;}