*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0A3316;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

h1 {
    color: #fff;
    margin-bottom: 75px;
    margin-top: 20%;
    text-align: center;
}

.status {
    position: absolute;
    top: 28%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
    margin-top: 10px;
    text-align: left;
}
.status2 {
    position: absolute;
    top: 35%;
    left: 13%;
    transform: translateY(-50%);
    color: #fff;
    margin-top: 10px;
    text-align: left;
}
.status3 {
    position: absolute;
    top: 28%;
    right: 10%;
    transform: translateY(-50%);
    color: #fff;
    margin-top: 10px;
    text-align: right;
}
.status4 {
    position: absolute;
    top: 35%;
    right: 8%;
    transform: translateY(-50%);
    color: #fff;
    margin-top: 10px;
    text-align: right;
}


/* Desenho das linhas horizontais e verticais  */
#board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0px;
    margin: 20px 0; 
    
    background-image: linear-gradient(to right,
    transparent 0,
    transparent 99px,
   white 99px,
   white 101px,
    transparent 101px), linear-gradient(to right,
    transparent 0,
    transparent 199px,
   white 199px,
   white 201px,
    transparent 201px) ,linear-gradient(to bottom,
    transparent 0,  
    transparent 99px,
    white 99px,
    white 101px,
    transparent 101px),
    linear-gradient(to bottom,
    transparent 0,  
    transparent 199px,
    white 199px,
    white 201px,
    transparent 201px);
    
}

.cell {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.control-bnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    flex-wrap: wrap;

}

.control-bnt button{
    padding: 10px 20px;
    min-width: 150px;
    margin-bottom: 40%;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;

}

.win{
    position: absolute;
    height: 5px;
    width: 300px;
    background-color: red;
    top: 50%;
    left:0;
    transform: center;
    transform: scale(0);
    transition: trasnform 0.3s ease;

}

.win-row-0{
    top: 50px;
    transform: scaleX(1);
}
.win-row-1{
    top: 150px;
    transform: scaleX(1);
}
.win-row-2{
    top: 250px;
    transform: scaleX(1);
}
win-col-0{
    transform: rotate(90deg) scaleX(1);
    left: -100;
}
win-col-1{
    transform: rotate(90deg) scaleX(1);
    left: 0;
}
win-col-2{
    transform: rotate(90deg) scaleX(1);
    left: 100;
}
.win.diag-1{
    transform: rotate(45deg) scaleX(1);
    top: 150px;
}
.win.diag-2{
    transform: rotate(-45deg) scaleX(1);
    top: 150px;
}